*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{background-color:whitesmoke;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
.main-head{
    background: green;
   
    color: white;
    text-align: center;
    height: 100px;
    padding-top: 30px;
    
}
.container{
 display: flex;
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100% - 100px);
   
    
   h1{
       font-size: 32px;

   }
   h2{
    font-size: 20px;
    
}
h3{
    font-size: 16px;
    
}
p{
    font-size: 14px;
    
}
}
#imag{
    width: 50px;
    height: 50px;
}
#name1{color: white;
    
   
}
.footer{
    margin: 20px;
    padding: 50px;

}
@media only screen and (max-width : 768px) {
    body{
        margin: 0;
    }
        .main-head {
         display: block;
         width: 100%;
         padding: 20px;
     }
     .container{
         display: block;
         width: 100%;
         padding: 0;
         justify-content: center;
         
     }
     #imag{
         display: block;
         width: 100%;
     }
     .footer{
         display: block;
         width: 100%;
     }  
    }