body{background-color:whitesmoke;}
.main-head{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 100px;
    margin: 0%;
    padding: 50px;
}
.Header{display:inline;}
.container{
    display: flex;
   
}
#imag{
    width: 50px;
    height: 50px;
}
